<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">New Recipe</h1>
        <div class="card-text">

          <%= form_with model: @recipe, html: { class: "form-horizontal" } do |f| %>
            <fieldset>
              <div class="form-group row">
                <%= f.label :title, class: "col-form-label col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.text_field :title, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :prep_time, class: "col-form-label col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.text_field :prep_time, class: "form-control" %>
                  <small class="form-text text-muted">
                    Enter time in minutes.
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :cook_time, class: "col-form-label col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.text_field :cook_time, class: "form-control" %>
                  <small class="form-text text-muted">
                    Enter time in minutes.
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :classification, class: "col-form-label col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.select :classification, options_for_select(Recipe.classifications.keys.map { |c| [c.to_s.titleize.humanize, c] }), { include_blank: "Select classification" }, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :cooking_method, class: "col-form-label col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.select :cooking_method, options_for_select(Recipe.cooking_methods.keys.map { |c| [c.to_s.titleize.humanize, c] }), { include_blank: "Select cooking method..." }, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :protein_type, class: "col-form-label col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.select :protein_type, options_for_select(Recipe.protein_types.keys.map { |c| [c.to_s.titleize.humanize, c] }), { include_blank: "Select protein type..." }, class: "form-control" %>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <div class="col-sm-9">
                  <%= f.submit "Submit", class: "btn btn-primary" %>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

